<div ng-controller="chatController">
    

	<div class="col-md-12">
		<div id="chat-alert-success" class="alert alert-success hide--all">
		  	<strong>Success!</strong> Connected!!
		</div>
	 </div>
    <div id="connect_chat" class="col-md-12 hide--all">

    	<div class="form-group">
			<label for="nickname">Nickname</label>
			<input type="text" placeholder="Choose your nickname" class="form-control" id="nickname">
		</div>
		<button ng-click="connect()" type="button" class="btn btn-primary">Connect</button>

    </div>

    <div id="message_container" class="hide--alls">

		<div class="col-md-12">
			<div id="message_fluid" class="well">
				<ul id="teste" class="tabs">

				</ul>
			</div>
			<div class="form-group">
				<input type="text" placeholder="Write your message" class="form-control" id="message">
			</div>
			<button ng-click="sendMessage()" type="button" class="btn btn-primary">Send</button>
		</div>
	 </div>


</div>