<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Playground</title>

        <script>
            if (typeof module === 'object') {
                window.module = module; module = undefined;
            }
        </script>
        <script type="text/javascript" src="../lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../lib/bootstrap/js/tab.js"></script>
        <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../src/style/index.css">
        <script type="text/javascript" src="../lib/angular/angular.js"></script>
        <script type="text/javascript" src="../src/js/app.js"></script>
        <script type="text/javascript" src="../src/js/three/GridCube.js"></script>
        <script type="text/javascript" src="../src/js/controllers/tabController.js"></script>
        <script type="text/javascript" src="../src/js/controllers/chatController.js"></script>
        <script type="text/javascript" src="../src/js/controllers/threeController.js"></script>

    </head>

    <body>
        
        <div class="container-fluid">

            <div ng-controller="tabController as tabCtrl" id="navigate" class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">My Playground</a>
                </div>

                <ul  id="tabs" class="nav nav-tabs">
                    <li class="nav">
                        <a ng-click="setTabCtrl(true, false, false)"  href="#home" data-toggle="tab">Home</a>
                    </li>
                    <li class="nav active">
                        <a ng-click="setTabCtrl(false, true, false)"  href="#chat" data-toggle="tab">Free Chat</a>
                    </li>
                    <li class="nav">
                        <a ng-click="setTabCtrl(false, false, true)"  href="#threejs" data-toggle="tab">Three Js</a>
                    </li>
                </ul>

                <div class="tab-content ">
                    <div ng-show="tabs.home" class="tab-pane fade">
                        <h3>hello darkness my old friend :=)</h3>
                    </div>
                    <div ng-show="tabs.chat" class="tab-pane fade in active">
                        <div ng-include="'partials/chat.html'"></div>
                    </div>
                    <div ng-show="tabs.three" class="tab-pane fade">
                        <div ng-include="'partials/threeJs.html'"></div>
                    </div>
                </div>

            </div>

        </div>
        
    </body>

</html>
